
@font-face {
    font-family: 'Panchang';
    src: url('./Panchang-Light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panchang';
    src: url('./Panchang-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panchang';
    src: url('./Panchang-Semibold.woff') format('woff');
    font-weight: 600; /* SemiBold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panchang';
    src: url('./Panchang-Bold.woff') format('woff');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  /* Sæt en standard-font for hele siden */
  body {
    font-family: 'Panchang', 'Arial', sans-serif;
  }
