@font-face {
    font-family: 'Panchang-Regular'; /* Du bestemmer selv navnet */
    src: url('./assets/fonts/Panchang-Regular.woff2') format('woff2'); /* KORREKT STI */
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panchang-Medium';
    src: url('./assets/fonts/Panchang-Medium.woff2') format('woff2'); /* KORREKT STI */
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Panchang-Light';
    src: url('./assets/fonts/Panchang-Light.woff2') format('woff2'); /* KORREKT STI */
    font-weight: 300;
    font-style: normal;
  }
  
  /* Nu kan du bruge fonten som normalt */
  body {
    font-family: 'Panchang-Regular', 'Arial', sans-serif;
  }